<h1>Design document</h1>

<p><em>First draft</em></p>

<h2>UML Diagrams</h2>

<h3>Client</h3>

<p><img src="res/uml_client.png" alt="client" title="Client" /></p>

<h3>Server</h3>

<p><img src="res/uml_server.png" alt="server" title="Server" /></p>

<h2>Comments</h2>

<p>The diagrams are deliberately simple and any information we deemed unnecessary</p>

<p>to include or were undecided on how to implement, we omitted.</p>

<p>These first drafts of the design were made in pairs: one for client, one for server.</p>

<p>There were minimal communication between client and server pairs - mostly making sure</p>

<p>we had agreed on a network communication protocol - trusting in each other to get the</p>

<p>job done.</p>

<h3>Some inconsistencies in the client diagram:</h3>

<ul>
<li><p>Protocol should be able to read messages from the server as well, such as:</p>

<p>video mode and motion detection as well as framerate and error messages.</p></li>
<li><p><em>toByte()</em> in Image should be <em>toBytes()</em>, and <em>timeStamp</em> should be a <strong>long</strong> </p>

<p>(the class is shared between both the client and server). </p></li>
<li><p>There is support for changing the framerate in the server diagram but it didn't</p>

<p>make it into the client diagram, nor did server-to-client message passing which</p>

<p>the feature requires.</p></li>
</ul>
